

.college-name{
background-color:grey;

}

.row2{

    height: 100px;
}

.principal-img{

    height: 150px;
    width:200px;
}

.Gallery1{

    height:auto;
}

.nav-link a {

    color: white;
}
  


 .news-title a{

    color: black;
 } 

.header2-container{

    background-color:white;
}

.nav-link a {
      background-color:white;


} 




